edge-tts
pygame
dotenv

groq
sounddevice
soundfile

Langchain
Langchain-core
Langchain-community
Langchain-google-genai
google-generativeai

langgraph
langgraph-checkpoint-postgres
psycopg [binary,pool]

tavily-python
langsmith
fastapi
uvicorn